<%= form_for :order, url: populate_orders_path do |f| %>
  <div class="row" id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
    <% if @product.variants_and_option_values(current_currency).any? %>
      <div id="product-variants" class="col-md-12">
        <div class="product-options">
          <% if @product.has_variants? %>
            <% index = 0 %>
            <% @product.grouped_option_values.each do |type, values| %>
              <div id="<%= dom_id(type) %>" class="variant-options index-<%= index %>">
                <ul class="size-option <%= type.name.downcase %>">
                  <li><span class="text-uppercase"><%= type.presentation %>:</span></li>
                  <% values.sort_by(&:position).each do |value| %>
                    <li id="<%= value.id %>"><a href="#"><%= value.presentation %></a></li>
                  <% end %>
                </ul>
              </div>
              <% index += 1 %>
            <% end %>
            <%= hidden_field_tag "variant_id", @product.variants.first.id, id: "hidden-variant-id" %>
          <% end %>
        </div>
      </div>
    <% else %>
      <%= hidden_field_tag "variant_id", @product.master.id %>
    <% end %>

    <% if @product.price_in(current_currency) && !@product.price.nil? %>
      <div data-hook="product_price" class="col-md-8">
        <!-- Remove Spree price here-->
        <% if @product.can_supply? %>
          <div class="add-to-cart">
            <br/>
            <div class="input-group">
              <div class="qty-input">
                <span class="text-uppercase">QTY: </span>
                <%= number_field_tag :quantity, 1, class: 'input', min: 1 %>
              </div>
              <%= button_tag class: 'primary-btn add-to-cart', id: 'add-to-cart-button', type: :submit do %>
                <i class="fa fa-shopping-cart"></i>
                <%= Spree.t(:add_to_cart) %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div id="product-price">
        <br/>
        <div>
           <span class="price selling" itemprop="price">
             <%= Spree.t('product_not_available_in_this_currency') %>
           </span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= javascript_tag do %>
  <% if @product.has_variants? %>
    window.product_id = "<%= @product.slug %>";
    window.default_variant_option_values = "<%= @product.variants.first.option_value_ids %>";
    window.default_variant_image_ids = "<%= @product.variants.first.image_ids %>";

    <% color_option = @product.variants.first.option_values.select {|v| v.option_type.name.downcase == "color"} %>
    <% if color_option.any? %>
      window.option_color_id = "<%= color_option.first.id %>"
    <% end %>

    <% size_option = @product.variants.first.option_values.select {|v| v.option_type.name.downcase == "size"} %>
    <% if size_option.any? %>
      window.option_size_id = "<%= size_option.first.id %>"
    <% end %>

  <% end %>
<% end %>

<!-- reference: https://stackoverflow.com/questions/34898575/spree-dropdown-boxes-for-variant-option-values -->
<!-- it working wrong https://github.com/citrus/spree_variant_options -->
<!-- for variant image size select http://www.rootspot.com/stackoverflow/amazon/ -->