<% if @product.has_variants? %>
  <div id="product-variants">
    <% index = 0 %>
    <% @values = Spree::OptionValue.joins(:option_value_variants).where(spree_option_value_variants: {variant_id: @product.variant_ids}).group_by(&:option_type) %>
    <% @values.each do |type, values| %>
      <div id="<%= dom_id(type) %>" class="variant-options index-<%= index %>">
        <h6><%= type.presentation %></h6>
        <ul class="size-option">
          <% values.sort_by(&:position).each do |value| %>
            <li><a href="#"><%= value.presentation %></a></li>
          <% end %>
        </ul>
      </div>
      <% index += 1 %>
    <% end %>
    <%= hidden_field_tag "products[#{@product.id}]", "", :id => "variant_id", :class => "hidden" %>
    <script type="text/javascript">
    </script>
  </div>
<% end %>
