<% @body_id = 'product-details' %>
<% cache cache_key_for_product do %>
  <!-- section -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!--  Product Details -->
        <div class="product product-details clearfix">
          <div class="col-md-4">
            <div id="product-images" data-hook="product_images">
              <div id="main-image" class="panel panel-default" data-hook>
                <div class="panel-body text-center">
                  <%= product_image(@product, itemprop: "image") %>
                </div>
              </div>
              <div id="thumbnails" data-hook>
                <%= render partial: 'thumbnails' %>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="product-body">
              <div class="product-label">
                <span>New</span>
                <span class="sale">-20%</span>
              </div>
              <h2 class="product-name"><%= @product.name %></h2>
              <h3 class="product-price"><%= display_price(@product) %></h3>
              <div id="product-price">
                <% if @product.master.can_supply? %>
                  <link itemprop="availability" href="https://schema.org/InStock"/>
                  <p><strong>Availability:</strong> In Stock</p>
                <% elsif @product.variants.empty? %>
                  <br/>
                  <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                <% end %>
              </div>

              <!-- This one  may caused broken responsice page -->
              <div class="product-btns">
                <div id="cart-form" data-hook="cart_form">
                  <%= render partial: 'cart_form' %>
                </div>
              </div>
              <!-- This one  may caused broken responsice page -->

              <!-- return and payment policy -->
              <div class="payment-policy">
                <p><strong>Return Policy:</strong> You can return it to us within 3 days after delivery or 30 days after
                  shipment in case the delivery date is not traceable</p>
                <ul class="color-option">
                  <li><p><strong>Payment:</strong></li>
                  <i class="fa fa-cc-paypal" style="color:navy;"></i>
                  <i class="fa fa-cc-visa" style="color:navy;"></i>
                  <i class="fa fa-cc-amex" style="color:blue;"></i>
                  <i class="fa fa-cc-mastercard" style="color:red;"></i>
                  <i class="fa fa-cc-discover" style="color:orange;"></i>
                </ul>
              </div>
              <!-- return and payment policy -->

              <!-- Rating, share...for product -->
              <div class="product-btns">
                <div class="pull-right">
                  <!-- Will add these feature later -->
                  <!--<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                  <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                  <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button> -->
                </div>
              </div>
              <!-- Rating, share...for product -->
            </div>
          </div>

          <div class="col-md-12" style="clear: both">
            <div class="product-tab">
              <ul class="tab-nav">
                <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                <li><a data-toggle="tab" href="#tab2">Properties</a></li>
                <li><a data-toggle="tab" href="#tab3">Reviews</a></li>
              </ul>
              <div class="tab-content">
                <div id="tab1" class="tab-pane fade in active">
                  <%= product_description(@product) %>
                </div>
                <div id="tab2" class="tab-pane fade in">
                  <%= render partial: 'properties' %>
                </div>
                <div id="tab3" class="tab-pane fade in">
                  <div class="row" data-hook="product_reviews_go_after_here">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /Product Details -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /section -->

  <!-- section -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- section title -->
        <div class="col-md-12">
          <div class="section-title">
            <h2 class="title">Picked For You</h2>
          </div>
        </div>
        <!-- section title -->

        <%
          tx = @product.taxons
          products = Spree::Product.in_taxons(tx)
          products = products.order("RANDOM()").limit(4)
        %>
        <% products.each do |product| %>
          <% url = spree.product_path(product) %>
          <!-- Product Single -->
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="product product-single">
              <div class="product-thumb">
                <%= link_to url, itemprop: "url" do %>
                  <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> View</button>
                  <%= product_image(product, itemprop: "image") %><br/>
                <% end %>
              </div>
              <div class="product-body">
                <h3 class="product-price"><%= display_price(product) %></h3>
                <div class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <!-- <h2 class="product-name"><a href="#"><%#= product.name %></a></h2>-->
                <%= link_to url, itemprop: "url" do %>
                  <%= content_tag(:span, truncate(product.name, length: 50), class: 'info', itemprop: "name", title: product.name) %>
                <% end %>
              </div>
            </div>
          </div>
          <!-- /Product Single -->
        <% end %>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /section -->

<% end %>

