<% @body_id = 'product-details' %>

<% cache cache_key_for_product do %>
  <!-- section -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!--  Product Details -->
        <div class="product product-details clearfix">
          <div class="col-md-4">
            <!-- replace with the spree image code -->
            <div id="product-images" data-hook="product_images">
              <div id="main-image" class="panel panel-default" data-hook>
                <div class="panel-body text-center">
                  <%= product_image(@product, itemprop: "image") %>
                </div>
              </div>
              <div id="thumbnails" data-hook>
                <%= render partial: 'thumbnails' %>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="product-body">
              <div class="product-label">
                <span>New</span>
                <span class="sale">-20%</span>
              </div>
              <h2 class="product-name"><%= @product.name %></h2>
              <!-- <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3> -->
              <!-- Remove the old format and replace with Spree format here -->
              <div id="product-price">
                <!-- <h6 class="product-section-title"><%= Spree.t(:price) %></h6> -->
                <div>
                    <span class="lead price selling" itemprop="price" content="<%= @product.price_in(current_currency).amount.to_d %>">
                     <b> <%= display_price(@product) %> </b>
                    </span>
                  <span itemprop="priceCurrency" content="<%= current_currency %>"></span>
                </div>

                <% if @product.master.can_supply? %>
                  <link itemprop="availability" href="https://schema.org/InStock" />
                <% elsif @product.variants.empty? %>
                  <br />
                  <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                <% end %>
              </div>
              <div>
                <div class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o empty"></i>
                </div>
                <a href="#">3 Review(s) / Add Review</a>
              </div>
              <p><strong>Availability:</strong> In Stock</p>
              <p><strong>Brand:</strong> DOLAX</p>
              <!-- For future use -->
              <!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
              <div class="product-options">
                <ul class="size-option">
                  <li><span class="text-uppercase">Size:</span></li>
                  <li class="active"><a href="#">S</a></li>
                  <li><a href="#">XL</a></li>
                  <li><a href="#">SL</a></li>
                </ul>
                <ul class="color-option">
                  <li><span class="text-uppercase">Color:</span></li>
                  <li class="active"><a href="#" style="background-color:#475984;"></a></li>
                  <li><a href="#" style="background-color:#8A2454;"></a></li>
                  <li><a href="#" style="background-color:#BF6989;"></a></li>
                  <li><a href="#" style="background-color:#9A54D8;"></a></li>
                </ul>
              </div>

              <div class="product-btns">
                <!--  <div class="qty-input">
                   <span class="text-uppercase">QTY: </span>
                   <input class="input" type="number">
                 </div> -->
                <!-- <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button> -->
                <div id="cart-form" data-hook="cart_form">
                  <%= render partial: 'cart_form' %>
                </div>
                <div class="pull-right">
                  <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                  <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                  <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="product-tab">
              <ul class="tab-nav">
                <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                <li><a data-toggle="tab" href="#tab2">Property</a></li>
                <li><a data-toggle="tab" href="#tab3">Reviews (3)</a></li>
              </ul>
              <div class="tab-content">
                <div id="tab1" class="tab-pane fade in active">
                  <%= product_description(@product) %>
                </div>
                <div id="tab2" class="tab-pane fade in">
                  <div data-hook="product_properties">
                    <%= render partial: 'properties' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Product Details -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /section -->
  </div>

  <!-- Related Product -->
  <div id="taxon-crumbs" class=" five " data-hook="product_taxons">
    <%= render partial: 'taxons' %>
  </div>
  <!-- Related Profuct -->

<% end %>