<!-- FOOTER -->
<footer id="footer" class="section section-grey">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- footer widget -->
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="footer">
          <!-- footer logo -->
          <!-- /footer logo -->

          <p>We at <b>DOLAX</b> believe in high quality and exceptional customer service. But most importantly, we believe shopping is a right, not a luxury, so we strive to deliver the best products at the most affordable prices, and ship them to you regardless of where you are located.</p>

          <!-- footer social -->
          <ul class="footer-social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul>
          <!-- /footer social -->
        </div>
      </div>
      <!-- /footer widget -->

      <!-- footer widget -->
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="footer">
          <h3 class="footer-header">Payment & Shipping</h3>
          <ul class="list-links">
            <li>
              <%= link_to spree.account_path do %>
                My Account
              <% end %>
            </li>
            <li>
              <%= link_to spree.root_path do %>
                Shopping
              <% end %>
            </li>
            <li>
              <% if spree_current_user %>
                <%= link_to Spree.t(:logout), spree.logout_path%>
              <% else %>
                <%= link_to Spree.t(:login), spree.login_path %> / <%= link_to Spree.t(:join), spree.signup_path %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <!-- /footer widget -->

      <div class="clearfix visible-sm visible-xs"></div>

      <!-- footer widget -->
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="footer">
          <h3 class="footer-header">Customer Service</h3>
          <ul class="list-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Shiping & Return</a></li>
            <li><a href="#">Shiping Guide</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
      </div>
      <!-- /footer widget -->

      <!-- footer subscribe -->
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="footer">
          <h3 class="footer-header">Stay Connected</h3>
          <p>Register now to get updates on promotions and coupons.</p>
          <form>
            <div class="form-group">
              <input class="input" placeholder="Enter Email Address">
            </div>
            <button class="primary-btn">Join Newslatter</button>
          </form>
        </div>
      </div>
      <!-- /footer subscribe -->
    </div>
    <!-- /row -->
    <hr>
    <!-- row -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <!-- footer copyright -->
        <div class="footer-copyright">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright © 2019 Dolax Inc. All Rights Reserved.
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
        <!-- /footer copyright -->
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</footer>
<!-- /FOOTER -->