<!-- This will be improved in the future for display -->
<% url = spree.product_path(product, taxon_id: taxon.try(:id)) %>
<!-- Product Single -->
<div class="col-md-3 col-sm-6 col-xs-6">
  <div class="product product-single">
    <div class="product-thumb">
      <div class="product-label">
        <% if display_discount %>
        <span class="sale">-40%</span>
        <% end %>
      </div>
      <%= link_to url, itemprop: "url" do %>
      <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> View</button>
      <% end  %>
      <%= large_image(product, itemprop: "image") %><br/>
    </div>
    <div class="product-body">
      <h3 class="product-price">
        <%= display_price(product) %>
        <% if display_discount %>
        <del class="product-old-price">$<%= price_before_discount(product) %></del>
        <% end %>
      </h3>
      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
      <p class="product-name">
        <%= link_to url, itemprop: "url" do %>
          <%= content_tag(:span, truncate(product.name, length: 50), class: 'info', itemprop: "name", title: product.name) %>
        <% end %>
      </p>
    </div>
  </div>
</div>
<!-- /Product Single -->



